.gameRow {
  display: flex;
}

.navArrowLeft {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.navArrowRight {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.arrowIcon {
  font-size: 40px;
}

.card {
  padding: 40px;
}
