.sideColumn {
  padding-top: 70px;
}

.playerImage {
  border-radius: 10px;
}

.operatorOverlay {
  width: 240px;
  height: 205px;
  margin-top: -205px;
  position: absolute;
}

.roleRow {
  display: flex;
  justify-content: space-evenly;
}

.roleLeft {
  flex: 1;
  text-align: right;
}

.roleSeparator {
  margin-left: 10px;
  margin-right: 10px;
}

.roleRight {
  flex: 1;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .sideColumn {
    padding-top: 20px;
  }

  .operatorOverlay {
    width: 160px;
    height: 137px;
    margin-top: -137px;
  }
}

@media screen and (max-width: 575px) {
  .sideColumn {
    padding-top: 10px;
  }

  .operatorOverlay {
    width: 120px;
    height: 103px;
    margin-top: -103px;
  }
}
